---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
    <!-- Contact Section (moved above work experience) -->
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
          <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:example.david@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section>
     <hr class="sidebar-separator">
    <!-- Work Experience Section -->
    <section class="work-experience">
      <h3 class="work-title">Work Experience</h3>
      <ul class="work-list">
        <li>
          <div class="job-title">Student Researcher</div>
          <div class="company">John H. Daniels Faculty of Architecture, Landscape, and Design</div>
          <div class="work-dates">September 2024 – April 2025</div>
        </li>
        <li>
          <div class="job-title">Process Engineering Intern</div>
          <div class="company">Inkbox / BIC Skin Creative</div>
          <div class="work-dates">June 2023 – June 2024</div>
        </li>
        <li>
          <div class="job-title">R&D Intern</div>
          <div class="company">Huron Digital Pathology</div>
          <div class="work-dates">May 2022 – August 2022</div>
        </li>
      </ul>
    </section>
  </header>
  <footer>
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer>
</aside>
<div class="content-box clearfix">
  {{ content }}
</div>